.header__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding-top: 14px;


}

