.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .place__title {
        padding: 0;
        grid-area: place__title;
    }
}