.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 4fr));
    list-style: none;
    padding: 0;
    grid-row-gap: 12px;
    grid-column-gap: 14px;
    margin: 0 0 64px 0;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 0 0 88px 0;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 0 0 92px 0;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        margin-left: -100px;
        margin-right: -100px;
    }
}