.place__image {
    width: 320px;
    height: 320px;
    margin-left: -16px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
        margin: 0;
        padding: 0;
        grid-area: place__image;
    }
}
@media screen and (min-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}
@media screen and (min-width: 1280px) {
    .place__image {
        width: 460px;
        height: 460px;
    }
}