.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 16px;
    z-index: 2;
    width: 288px;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        padding-top: 32px;
        width: 360px;
    }
}
