.header {
    padding-top: 16px;
    display: flex;
    flex-direction:row;
    margin: 0;
    justify-content: space-between;
    padding-bottom: 48px;
}

@media screen and (width: 1280px) {
    .header {
        margin-left: -100px;
        margin-right: -100px;
    }
}
@media screen and (min-width: 1281px) {
    .header {
        margin-left: 0;
    }
}