.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    transition: opacity 0.3s ease;
}
.footer__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}