.cover__background {
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    margin-left: -16px;
    margin-right: -16px;
    min-height: 200px;
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

}
.cover__background:before {
    content: '';
    display: block;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #2a2c2f;
    transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
    .cover__background {
        min-height: 480px;
        margin-left: -24px;
        margin-right: -24px;
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__background {
        min-height: 640px;
        margin-left: -48px;
        margin-right: -48px;
        width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__background {
        min-height: 740px;
        margin-left: -100px;
        margin-right: -100px;
        width: 1184px;
        /*margin: 0 auto;*/

    }
    .cover__background:hover:before {
        opacity: 0.8;
    }
    .cover__background:hover {
        cursor: pointer;
    }
}