.cover__background {
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    width: 320px;
    height: 200px;
    margin-left: -16px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}