.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    max-width: 240px;
    align-self: center;
}