.footer__list {
    padding-bottom: 32px;
}
.footer__list:last-child{
    padding-bottom: 0;
}
@media screen and (min-width: 768px) {
    .footer__list {
        padding-bottom: 0;
        padding-right: 18px;

    }
    .footer__list:last-child{
        padding-right: 0;
    }
}
